.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake/
data/scRNA_ref/*
data/aligned/*
data/trimmed/*
data/raw/*
*.snakemake_timestamp
logs/
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.mtx
permutedDE_1000*
*.mtx.gz
snakemake_rnaseq_se.Rproj
output/tcga_breast.rds
.RDataTmp
data/.DS_Store
data/knott_scRNA.rds
data/knott_scRNA.rds.zip
output/sca_ls*
output/summary_ls*
output/permutedscore_*